@font-face {
	font-family: 'Naga';
	src: url('./fonts/Naga/Naga.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'Public Sans';
	src: url('./fonts/PublicSans/PublicSans-Regular.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'Public Sans';
	src: url('./fonts/PublicSans/PublicSans-Italic.otf');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Public Sans';
	src: url('./fonts/PublicSans/PublicSans-SemiBold.otf');
	font-weight: bolder;
}
@font-face {
	font-family: 'Public Sans';
	src: url('./fonts/PublicSans/PublicSans-SemiBolditalic.otf');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Public Sans';
	src: url('./fonts/PublicSans/PublicSans-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: 'Public Sans';
	src: url('./fonts/PublicSans/PublicSans-Bolditalic.otf');
	font-weight: bold;
	font-style: italic;
}

/* Box-Sizing Rule */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove Default Margin and Padding */

* {
	margin: 0;
	padding: 0;
}

/* Remove Default List styling */

ul,
ol {
	list-style: none;
}

/* Customizing Links */

a {
	color: inherit;
	text-decoration: underline;
}

/* Making Images Responsive */

img,
picture {
	max-width: 100%;
	display: block;
	user-select: none;
	height: auto;
}

/* Setting the font for form elements */

input,
button,
textarea,
select {
	font: inherit;
}

/* Adding smooth scrolling */

html:focus-within {
	scroll-behavior: smooth;
}

/* Making Focus States a little bit cooler */

@media (prefers-reduced-motion: no-preference) {
	:focus {
		transition: outline-offset 0.25s ease;
	}
	:focus:not(:active) {
		outline-offset: 5px;
	}
}

/* prefers-reduced-motion */

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Styling the body */

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

:root {
	--fz-title: clamp(2.75rem, calc(2.05rem + 3.46vw), 4.74rem);
	--fz-subtitle: clamp(2.2rem, calc(1.73rem + 2.36vw), 3.55rem);
	--fz-body: clamp(1.13rem, calc(0.99rem + 0.65vw), 1.5rem);

	--space-2xs: clamp(0.25rem, calc(0.21rem + 0.22vw), 0.38rem);
	--space-xs: clamp(0.75rem, calc(0.64rem + 0.54vw), 1.06rem);
	--space-s: clamp(1.25rem, calc(1.08rem + 0.87vw), 1.75rem);
	--space-m: clamp(1.88rem, calc(1.61rem + 1.3vw), 2.63rem);
	--space-l: clamp(2.5rem, calc(2.15rem + 1.74vw), 3.5rem);
	--space-xl: clamp(3.75rem, calc(3.23rem + 2.61vw), 5.25rem);
	--space-2xl: clamp(5rem, calc(4.3rem + 3.48vw), 7rem);

	--clr-text-bl: 0, 0%, 20%;
	--clr-bg: 43, 42%, 77%;
	--clr-green: 98, 53%, 23%;
	--clr-saffron: 18, 54%, 36%;
	--clr-text-wh: 0, 0%, 89%;
	--clr-bg-dark: 42, 26%, 62%;

	--ff-sans: 'Public Sans', serif;
	--ff-serif: 'Naga', serif;
}

html {
	padding: 0;
	margin: 0;
}

body {
	background: hsl(var(--clr-bg));
	font-family: var(--ff-serif);
	font-size: var(--fz-body);
}

h1,
h2,
h3 {
	font-family: var(--ff-sans);
}

h1 {
	font-size: var(--fz-title);
	line-height: var(--fz-title);

	margin-block: var(--space-m);
}
h2 {
	font-size: var(--fz-subtitle);
}

a:not(nav a) {
	background: hsl(var(--clr-saffron));
	color: hsl(var(--clr-text-wh));
	text-decoration: none;
	padding: var(--space-xs) var(--space-s);
	border-radius: var(--space-2xs);
}

a:focus {
	outline: none;
	border: none;
}

main {
	padding: var(--space-m) var(--space-xs);
}

.card {
	background: hsl(var(--clr-bg-dark));
	padding: var(--space-s) var(--space-xs);
	border-radius: var(--space-2xs);
}

.card__img {
	aspect-ratio: 2/1;
	object-fit: cover;
	max-height: 25%;
	border-radius: var(--space-2xs);
}

.card__desc {
	margin-block: var(--space-xs);
}

.card__link img {
	position: relative;
	width: var(--fz-body);
	aspect-ratio: 1/1;
	display: inline;
}

.card__info:last-of-type {
	margin-block-end: var(--space-s);
}

input {
	border: none;
	outline: none;
	padding: var(--space-2xs) var(--space-xs);
	background: hsl(var(--clr-saffron));
	color: hsl(var(--clr-text-wh));
	border-radius: var(--space-2xs);
	margin-block-end: var(--space-s);

	font-family: var(--ff-sans);
	font-weight: normal;
}

input::placeholder {
	color: hsla(var(--clr-text-wh), 0.4);
}

::-webkit-scrollbar {
	background: hsl(var(--clr-bg-dark));
}

::-webkit-scrollbar-thumb {
	background: hsla(var(--clr-text-bl), 0.25);
}
